#track1{
	background-image:url('t1.jpg');	
	background-size: cover;
	
}
#track2{
	background-image:url('t2.jpg');	
	background-size: cover;

}
#track3{
	background-color: white;	
	background-size: cover;
	
}
.container-fluid{
	padding: 0;
}
.col-md-12{
	padding: 0;
}
.car1{
	position: relative;
	height: 100px;
	width: 100px;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;

}
.car2{
	position: relative;
	height: 100px;
	width: 100px;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;

}
#countDownTimer{
	text-align: center;
	color: navy;
}